@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="div-signin">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please @ViewData["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" required  autofocus />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" required />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
        <hr />
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
